<div class="card">
    <h1>Mi Perfil</h1>
    <div class="card-container" style="display: flex; gap: 1rem; flex-wrap: wrap; margin-top: 2rem;">
        <p-card header="Card 1" [style]="{'width': '300px'}" styleClass="custom-card">
          <ng-template pTemplate="content">
            <p>Este es el contenido de la tarjeta 1.</p>
          </ng-template>
          <ng-template pTemplate="footer">
            <button pButton type="button" label="Aceptar" icon="pi pi-check" styleClass="p-button-success"></button>
            <button pButton type="button" label="Cancelar" icon="pi pi-times" styleClass="p-button-danger"></button>
          </ng-template>
        </p-card>
      
        <p-card header="Card 2" [style]="{'width': '300px'}" styleClass="custom-card">
          <ng-template pTemplate="content">
            <p>Este es el contenido de la tarjeta 2.</p>
          </ng-template>
          <ng-template pTemplate="footer">
            <button pButton type="button" label="Aceptar" icon="pi pi-check" styleClass="p-button-success"></button>
            <button pButton type="button" label="Cancelar" icon="pi pi-times" styleClass="p-button-danger"></button>
          </ng-template>
        </p-card>
      
        <p-card header="Card 3" [style]="{'width': '300px'}" styleClass="custom-card">
          <ng-template pTemplate="content">
            <p>Este es el contenido de la tarjeta 3.</p>
          </ng-template>
          <ng-template pTemplate="footer">
            <button pButton type="button" label="Aceptar" icon="pi pi-check" styleClass="p-button-success"></button>
            <button pButton type="button" label="Cancelar" icon="pi pi-times" styleClass="p-button-danger"></button>
          </ng-template>
        </p-card>
      </div>
</div>