<div class="mb-4">
  <p-button type="button" icon="pi pi-minus" (click)="prev()" label="Anterior" />
  <p-button type="button" icon="pi pi-plus" (click)="next()" severity="secondary" styleClass="ml-2" label="Siguiente" />
</div>

<p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5" [(activeIndex)]="activeIndex">
  <ng-template pTemplate="item" let-item>
      <img [src]="item.itemImageSrc" style="width: 100%;" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
      <img [src]="item.thumbnailImageSrc" />
  </ng-template>
</p-galleria>
